<table>
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>First Name</th>
            <th>last name</th>
            <th>date of birth</th>
            <th>gender</th>
            <th>language</th>


        </tr>
    </thead>
</table>